---
layout: default
---
{% capture type_title %}{% if page.type == "tag" %}برچسب{% else %}{{ page.type }}{% endif %}{% endcapture %}
<div class="inner">
<div class="section-title"><h2>بایگانی نوشته‌ها با <span>{{ type_title }} '{{ page.title }}'</span></h2></div>
<ul class="posts">
    {% for post in page.posts %}
    <li>
        {% include post.html %}
    </li>
    {% endfor %}
</ul>
<!--
<nav class="pagination">
    <div><a href="">Newer Posts &larr;</a></div>
    <div><a href="">Older Posts &larr;</a></div>
    <div class="loading">
        <div class="spinner"></div>
    </div>
</nav>
-->
</div>